@font-face {
  font-family: 'Poppins';
  src: url("./assets/fonts/Poppins-Light.ttf");
}

* {
  box-sizing: border-box; /* borders and padding sizes will be taken into account in values that reveal restrictions in the width and height of the element. This transforms the work with dimensions, which allows them to be more logical*/
}

@media (max-width: 768px) {
  .section, .header, .profile, .footer{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins';
  font-size: 18px;
  min-height: 100vh; /*min height of the body can't be less than the height page*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* redef direction of main axis*/
  justify-content: space-between; /*align elems along main axis, all elem's are delayed at max distance from each other, extreme ones are pressed to the borders of the parent.*/
  background-color: #d7e7b6;
}

.container{
  max-width: 1440px; /* container width limit */
  margin: 0 auto;
}

.title {
  color: rgb(130, 153, 133);
}

/* HEADER */
.header {
  background-color: rgb(130, 153, 133);
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav__link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration-line: none;
  color: #fff;
  font-size: 20px;
  transition:  0.5s; /*smoth change of properties*/
}

.nav__link:hover {
  color: rgb(255, 219, 31);/*rgb(215, 209, 201);*/
  text-decoration-line: underline;
}

/* MAIN */

.main__container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: calc(50% - 15px);
  margin: 5px;
  padding: 10px;
  padding-bottom: 35px;
}

.profile {
  border-bottom: 10px solid rgb(255, 219, 31);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.profile__img {
  transition: transform 0.3s ease-in;
}

.profile__img:hover {
  transform: scale(0.95);
}

.profile__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  border-bottom: 3px solid rgb(255, 219, 31);
  font-size: 36px;
  letter-spacing: 11px;
  padding-bottom: 20px;
  transition: transform 0.3s ease-in;
}

.h1:hover {
  transform: scale(0.95);
}

.profile__description {
  font-size: 22px;
  letter-spacing: 5px;
  transition: transform 0.3s ease-in;
}

.profile__description:hover {
  transform: scale(0.95);
}

.contacts {
  border-bottom: 3px solid rgb(255, 219, 31);
}

.contacts__list {
  padding: 0;
}

.contacts__item {
  margin: 5px;
  padding-left: 40px;
  list-style: none;
}

.contacts__item:nth-child(1) {
  background-image: url('assets/icon/location.svg');
  background-repeat: no-repeat;
  height: 30px;
}

.contacts__item:nth-child(2) {
  background-image: url('assets/icon/mail.svg');
  background-repeat: no-repeat;
  height: 30px;
}

.contacts__item:nth-child(3) {
  background-image: url('assets/icon/github.svg');
  background-repeat: no-repeat;
  height: 30px;
}

.contacts__item:nth-child(4) {
  background-image: url('assets/icon/telegram.svg');
  background-repeat: no-repeat;
  height: 30px;
}

.contacts__item:nth-child(5) {
  background-image: url('assets/icon/discord.svg');
  background-repeat: no-repeat;
  height: 30px;
}
.contacts__link {
  color: #000;
  font-size: 20px;
  text-decoration-line: none;
  transition:  0.5s; /*smoth change of properties*/
}

.contacts__link:hover {
  color: rgb(130, 153, 133);
  text-decoration-line: underline;
}

.summary {
  border-bottom: 3px solid rgb(255, 219, 31);
}

.summary__description {
  text-align: justify;
}

.skills {
  border-bottom: 3px solid rgb(255, 219, 31);
}

.skills__item {
  margin: 5px;
  list-style: none;
}

.skills__link {
  color: #000;
  font-size: 20px;
  text-decoration-line: none;
}

.skills__item {
  list-style-type: '👉';
}

.code {
  border-bottom: 3px solid rgb(255, 219, 31);
}

.code__pre {
  margin: 0;
  padding: 0;
}

.courses {
  border-bottom: 3px solid rgb(255, 219, 31);
}

.courses__item {
  margin: 5px;
  list-style: none;
}

.courses__link {
  color: #000;
  font-size: 20px;
  text-decoration-line: none;
}

.courses__item {
  list-style-type: '🎓';
}

.projects {
  border-bottom: 3px solid rgb(255, 219, 31);
}

.projects__item {
  margin: 5px;
  list-style: none;
}

.projects__link {
  color: #000;
  font-size: 20px;
  text-decoration-line: none;
  transition:  0.5s; /*smoth change of properties*/
}

.projects__item {
  list-style-type: '😍';
}

.projects__link:hover {
  color: rgb(130, 153, 133);
  text-decoration-line: underline;
}

.education__university {
  color: #000;
  font-size: 20px;
}

.languages__item {
  margin: 5px;
  list-style: none;
}

.languages__link {
  color: #000;
  font-size: 20px;
  text-decoration-line: none;
}

.languages__item {
  list-style-type: '👅';
}

/* FOOTER */
.footer {
  background-color: rgb(130, 153, 133);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer__div {
  color: #fff;
  font-size: 22px;
}

.footer__github {
  color: #fff;
  font-size: 22px;
  text-decoration-line: none;
  transition:  0.5s; /*smoth change of properties*/
}

.footer__github:hover {
  color: rgb(255, 219, 31);
  text-decoration-line: underline;
}

.rss__logo {
  width: 120px;
  height: 40px;
}
